{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}文章管理{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            文章管理
            <small class="text-muted">{{ pagination.total }}</small>
            <span class="col-md-offset-8">
                <a class="btn btn-primary btn-sm" href="{{ url_for('web_admin.new_post') }}">新建文章</a>
            </span>
        </h1>
    </div>
    {% if posts %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>分类</th>
                <th>日期</th>
                <th>评论</th>
                <th>字数</th>
                <th>操作</th>
            </tr>
        </thead>
        {% for post in posts %}
            <tr>
                <td>{{ loop.index + ((page - 1) * config.MANAGE_POST_PER_PAGE) }}</td>
                <td><a href="{{ url_for('web_blog.show_post', post_id=post.id) }}">{{ post.title }}</a></td>
                <td>
                    <a href="{{ url_for('web_blog.show_category', category_id=post.category.id) }}">
                        {{ post.category.name }}
                    </a>
                </td>
                <td>{{ moment(post.create_time).format('LL') }}</td>
                <td>
                    <a href="{{ url_for('web_blog.show_post', post_id=post.id) }}#comments">
                        {{ post.comments|length }}
                    </a>
                </td>
                <td>{{ post.body|striptags|length }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ url_for('web_admin.set_comment',
                            post_id=post.id, next=request.full_path) }}">
                        {% if post.can_comment %}关闭{% else %}开启{% endif %}评论
                    </a>
                    <a class="btn btn-info btn-sm" href="{{ url_for('web_admin.edit_post', post_id=post.id) }}">
                        编辑
                    </a>
                    <a class="btn btn-danger btn-sm" href="{{ url_for('web_admin.delete_post',
                            post_id=post.id, next=request.full_path) }}" onclick="return confirm('确定删除该文章吗？');">
                        删除
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>还没有文章哦！</h5></div>
    {% endif %}



{% endblock %}